.sidebar-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 200;

  &-open {
    visibility: visible;
    opacity: 1;
  }
}

.sidebar {
  background-color: #fff;
  width: 340px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  transition: left 0.3s ease;
  z-index: 250;

  .sidebar__container {
    position: absolute;
    top: 0;
    bottom: 150px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #f4f6fa;
  }

  .sidebar__header {
    padding: 24px 74px;
    border-bottom: 1px solid #f4f6fa;

    @media (max-width: 480px) {
      .logo {
        width: 200px;
      }
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 340px;

    @media (max-width: 1600px) {
      width: 290px;
    }

    @media (max-width: 1200px) {
      margin-top: 50px;
      left: -290px;
    }
  }

  &__menu {
    padding-top: 15px;
  }

  @media (max-width: 1600px) {
    width: 290px;
  }

  @media (max-width: 1200px) {
    left: -290px;
  }

  &-open {
    left: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  li {
    button {
      border: none;
    }

    a,
    button {
      display: block;
      text-decoration: none;
      color: #363e68;
      transition: all 0.2s ease;
      padding: 14px 20px 14px 30px;
      width: 100%;
      text-align: left;

      span {
        padding-left: 17px;
      }

      &:hover {
        background: #eaf1fe;
      }
    }

    &.active > a {
      background: #eaf1fe;
      font-family: "Roboto-Bold", sans-serif;

      svg {
        path {
          fill: var(--blue);
        }
      }
    }
  }
}
