.list-items {
  &__item {
    justify-content: space-between;
    border-bottom: 1px solid #d2d8e4;
    padding: 12px 17px;
    transition: all 0.3s ease;

    &:hover {
      background: #e9eefb;
    }
  }

  @media screen and (max-width: 992px) {
    &__item {
      padding: 8px 10px;

      .list-items__name {
        width: calc(100% - 115px);
      }
    }
  }
}
