block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="description")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='css/foundation.css')
    link(rel='stylesheet' href='css/app.css')
    link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.8/css/all.css")

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .main-wrapper
      .app
        block content                
    script(src='js/foundation.js' defer)
    script(src='js/app.js' defer)