.tabs-navigation {
  //display: inline-flex;

  &__link {
    border: 1px solid #d2d8e4;
    width: 165px;
    display: flex;
    justify-content: center;
    background: #fff;
    color: #50575c;
    padding: 8px 0;

    &.active {
      background: var(--blue);
      color: #fff;
      border-color: var(--blue);
    }
  }

  @media screen and (max-width: 1360px) {
    &__link {
      font-size: 15px;
      padding: 7px;
    }
  }

  @media screen and (max-width: 576px) {
    justify-content: space-between;
    width: 100%;

    &__item {
      width: 49%;
      margin-bottom: 6px;
    }

    &__link {
      width: 100%;
      padding: 5px;
    }
  }
}
