.table {
  thead {
    th {
      color: var(--gray);
      font-family: Roboto-Regular, sans-serif;
      font-weight: normal;
      padding: 8px 8px 10px;
      border: none;
    }
  }

  tbody {
    tr {
      transition: all 0.3s ease;
      cursor: pointer;
      font-size: 15px;

      &:hover {
        background: rgba(44, 113, 246, 0.1);
      }
    }

    td {
      border-bottom: 1px solid #d2d8e4;
      padding: 8px;
      vertical-align: middle;

      &:last-child {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    font-size: 14px;

    tbody tr {
      font-size: 14px;
    }
  }
}
