.modal-static {
  .modal-dialog {
    max-width: 360px;
    text-align: center;
  }

  .modal-content {
    padding: 30px;
  }

  .modal-icon {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 18px;
  }

  .modal-icon--custom {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f4f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h5 {
    font-size: 18px;
    color: var(--somber);
  }

  .modal-button {
    padding-top: 20px;

    .btn {
      width: 120px;

      & + .btn {
        margin-left: 8px;
      }
    }
  }
}

.modal-add {
  .modal-dialog {
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    padding: 24px;

    @media screen and (max-width: 576px) {
      padding: 15px;
    }
  }

  .modal-button {
    padding-top: 25px;
    text-align: right;

    .btn {
      width: 140px;
    }

    @media screen and (max-width: 576px) {
      padding-top: 15px;

      .btn {
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}
