::-webkit-input-placeholder { /* Chrome */
  color: #68727a;
}

::-ms-input-placeholder { /* IE 10+ */
  color: #68727a;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #68727a;
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form {
  textarea {
    height: 180px;
  }

  input,
  textarea {
    font-size: 15px;
    color: #3f4448;
    padding: 8px 11px;
    border: 1px solid #d2d8e4;
    border-radius: 4px;
    width: 100%;
    background: #fff;

    &:focus {
      border-color: #275adb;
    }
  }

  .form__item {
    margin-bottom: 16px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  legend {
    font-size: 18px;
    color: #2d3033;
  }

  .legend-bold {
    font-family: "Inter-Medium", sans-serif;
  }

  /* select */
  .bootstrap-select {
    .btn-light {
      background: #fff;
      color: #3f4448;
      border-color: #d2d8e4;
      border-radius: 4px;
      padding: 10px 15px;
      width: 100%;
    }

    .btn-light.focus,
    .btn-light:focus {
      box-shadow: unset;
    }
  }

  .btn-light:not(:disabled):not(.disabled).active,
  .btn-light:not(:disabled):not(.disabled):active,
  .show > .btn-light.dropdown-toggle {
    background-color: #fff;
    border-color: #275adb;
  }

  .bootstrap-select .dropdown-toggle:focus,
  .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    outline-offset: 0;
    outline: none;
    border-color: #275adb;
  }

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__group {
    .btn {
      & + .btn {
        margin-left: 16px;
      }
    }
  }

  .form__inline {
    display: flex;
    flex-wrap: wrap;
  }
}

.avatar-load {
  position: relative;

  label {
    color: #fff;
    background: var(--green-gradient);
    cursor: pointer;
    font-family: "Inter-SemiBold", sans-serif;
    padding: 12px 15px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    span {
      padding-left: 9px;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

.change-avatar {
  .btn {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 26px;
    height: 26px;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 0;

    svg {
      width: 13px;
    }
  }

  &__img {
    background: #f3f3f8;
    border: 2px solid #d2d8e4;
    border-radius: 4px;
    height: 150px;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .btn {
        opacity: 1;
      }
    }
  }

  &__viewing {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    text-align: center;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__load {
    width: 100%;
    margin-top: 16px;
  }
}

/* Radio */
input[type="radio"] {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.radio-custom {
  opacity: 0;
  position: absolute;
}

/* radio в резюме и вакансиях */
.radio-label {
  position: relative;
  color: #50575c;
  background: rgba(244, 246, 250, 0.5);
  border: 2px solid #d2d8e4;
  border-radius: 4px;
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    position: relative;
    padding-left: 35px;

    &::before {
      content: "";
      background: #fff;
      border: 0.0625rem solid hsla(0, 0%, 67.1%, 0.75);
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
      position: absolute;
      left: 0;
    }
  }
}

input[type="radio"]:checked + .radio-label {
  background: #fff;
  border-color: var(--primary);

  span {
    &::before {
      background-color: var(--primary);
      box-shadow: inset 0 0 0 0.25rem #fff;
      border: 0.0625rem solid var(--primary);
    }
  }
}

.form--basis {
  .form__content {
    margin-left: 40px;
    width: calc(100% - 255px);

    &--custom {
      .form__item {
        width: 400px;
      }

      .btn {
        margin-top: 10px;
      }
    }
  }

  .form__inline {
    .form__item {
      width: 340px;
      margin-right: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-right: 0;
      }

      &--width {
        width: 100%;
      }
    }

    &--jc {
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  .form__button {
    .btn {
      width: 220px;
    }
  }

  @media screen and (max-width: 1480px) {
    .form__content {
      margin-left: 24px;
    }
  }

  @media screen and (max-width: 1360px) {
    .form__content {
      width: calc(100% - 238px);
    }
  }

  @media screen and (max-width: 1200px) {
    .form__inline {
      justify-content: space-between;

      .form__item {
        margin-right: 0;
        margin-bottom: 15px;
        width: 49%;

        &--width {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .change-avatar {
      margin-bottom: 15px;
    }

    .form__content {
      width: 100%;
      margin-left: 0;

      &--custom {
        width: auto;
        margin-left: 25px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .form__inline {
      justify-content: space-between;

      .form__item {
        width: 100%;
      }
    }

    .form__button {
      .btn {
        width: 100%;
      }
    }

    .change-avatar {
      margin-left: auto;
      margin-right: auto;
    }

    .form__content {
      &--custom {
        width: 100%;
        margin-left: 0;

        .form__item {
          width: 100%;
        }
      }
    }
  }
}

.form--help {
  .form__inline {
    padding-bottom: 20px;

    .form__item {
      width: 400px;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 1360px) {
    .form__group {
      .btn--width {
        width: 150px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .form__inline {
      padding-bottom: 13px;

      .form__item {
        width: 100%;
        order: 1;
      }

      .form__group {
        padding-bottom: 15px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .form__group {
      .btn {
        width: 100%;
        margin-bottom: 5px;
      }

      .btn + .btn {
        margin-left: 0;
      }
    }
  }
}

.form--create {
  max-width: 850px;

  .form__item--mr {
    margin-right: 15px;
  }

  legend {
    font-size: 16px;
  }

  .btn--submit {
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .form__item--mr {
      margin-right: 0;
    }

    .form__inline {
      justify-content: space-between;

      .form__item {
        width: 49%;
      }
    }

    .radio-label {
      width: 100%;
      padding: 5px;

      span {
        white-space: nowrap;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .form__button {
      .btn--submit {
        margin-top: 0;
        width: 100%;
      }
    }
  }
}

.form--primary {
  max-width: 500px;
}
