:root {
  --basis: #3f4448;
  --blue: #275adb;
  --red: #ee3434;
  --gray: #90a0b7;
  --green-gradient: linear-gradient(0deg, #2bae50, #2bae50), #12b62c;
  --somber: #2d3033;
}

$bold: "Roboto-Bold", sans-serif;
