html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-size: 16px;
  background: #f9f9f9;
  color: var(--basis);
  font-family: "Roboto-Regular", sans-serif;
}

.logo {
  display: block;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

h1 {
  font-size: 28px;
  font-family: "Montserrat-SemiBold", sans-serif;
  margin-bottom: 0;
  color: #242424;

  @media screen and (max-width: 1360px) {
    font-size: 25px;
  }
}

h2 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 25px;
  color: #000;
  margin-bottom: 20px;
}


.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 380px;
  left: 0;
  background-color: #f9f9f9;
  overflow: hidden;

  @media (max-width: 1600px) {
    padding-left: 300px;
  }

  @media (max-width: 1200px) {
    padding-left: 0;
  }
}

.content {
  min-height: 100vh;
  max-width: 1440px;
  margin: 45px 20px 40px 20px;
  position: relative;

  @media (max-width: 1200px) {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (max-width: 992px) {
    margin-right: 20px;
    margin-left: 20px;
  }

  @media screen and (max-width: 767px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

h5.bold,
h3.bold {
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #000;
}

.mb-none {
  margin-bottom: 0;
}

.size-middle {
  font-size: 18px;
}
