@font-face {
	font-family: "Roboto-Regular";
	src:  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
				url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-Bold";
	src:  url("../fonts/Roboto/RobotoBold/Roboto-Bold.woff") format("woff"),
				url("../fonts/Roboto/RobotoBold/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Inter-Medium";
	src:  url("../fonts/Inter/Inter-Medium/Inter-Medium.woff") format("woff"),
				url("../fonts/Inter/Inter-Medium/Inter-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Inter-Regular";
	src:  url("../fonts/Inter/Inter-Regular/Inter-Regular.woff") format("woff"),
				url("../fonts/Inter/Inter-Regular/Inter-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Inter-SemiBold";
	src:  url("../fonts/Inter/Inter-SemiBold/Inter-SemiBold.woff") format("woff"),
				url("../fonts/Inter/Inter-SemiBold/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src:  url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
				url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
