.develop {
  color: #3b4459;

  b {
    font-family: "Roboto-Bold", sans-serif;
  }

  @media screen and (max-width: 1360px) {
    font-size: 14px;
  }
}

.header {
  position: absolute;
  right: 0;

  @media (max-width: 1200px) {
    position: relative;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 25px;

    .hamburger {
      order: 1;
    }
  }
}

.hamburger {
  display: none;
  padding: 0;
  z-index: 900;

  .hamburger-box {
    width: 30px;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    width: 30px;
    border-radius: 0;
    height: 2px;
  }

  @media (max-width: 1200px) {
    display: block;
  }
}

.hamburger-open {
  .hamburger-box {
    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      color: #fff;
      background-color: #fff;
    }
  }
}
