@import 'component/sidebar/sidebar';
@import 'component/login/login';
@import 'component/form/form';
@import 'component/btn/btn';
@import 'component/card/card';
@import 'component/search/search';
@import 'component/pagination/pagination';
@import 'component/table/table';
@import 'component/list/list';
@import "component/addArticle/addArticle";

.flex-element {
  display: flex;
  flex-wrap: wrap;
}

.head-content {
  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #2d3033;

    .btn {
      margin-left: 15px;
      padding: 3px 15px;
    }

    &--mb-none {
      margin-bottom: 0;
    }
  }

  &__bottom {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  @media screen and (max-width: 1360px) {
    &__line {
      margin-bottom: 22px;

      &--mb-none {
        margin-bottom: 0;
      }

      .btn {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    &__bottom {
      margin-bottom: 13px;

      .button-group {
        width: 100%;
        padding-top: 6px;
      }
    }
  }
}

@import 'component/tabs/tabs';
@import 'component/modal/modal';

.card-settings {
  padding: 20px 35px 32px;

  legend {
    margin-bottom: 18px;
  }

  @media screen and (max-width: 1200px) {
    padding: 15px 25px 25px;

    .btn--width {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    width: 100%;

    legend {
      margin-bottom: 10px;
    }
  }
}

.dop-content {
  padding-top: 25px;

  @media screen and (max-width: 768px) {
    padding-top: 17px;
  }
}

.card-info {
  max-width: 750px;
  width: 100%;
}

.dropzone {
  border-color: #d2d8e4;
  border-width: 1px;

  .dz-preview {
    margin: 10px;
  }
}