.form-search {
  position: relative;

  .form__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: calc(100% - 150px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .control {
    border-radius: 0 4px;
  }

  .btn {
    width: 150px;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter-Regular", sans-serif;
    border-radius: 0 4px 4px 0;

    span {
      padding-right: 20px;
    }
  }

  .filter {
    background: #fbfbfb;
    color: #68727a;
    border: 1px solid #d2d8e4;
    border-radius: 0;
  }

  &--custom {
    input {
      width: calc(100% - 300px);
    }
  }

  @media screen and (max-width: 992px) {
    .filter {
      width: 50px;

      span {
        display: none;
      }
    }

    .btn {
      padding: 10px;
    }

    &--custom {
      input {
        width: calc(100% - 200px);
      }
    }
  }

  @media screen and (max-width: 767px) {
    .btn {
      width: 38px;
      padding: 7px;

      span {
        display: none;
      }
    }

    input {
      width: calc(100% - 38px);
      padding: 7px 10px;
    }

    &--custom {
      input {
        width: calc(100% - 76px);
      }
    }
  }
}

.filter-content {
  position: absolute;
  padding: 17px 10px 10px;
  width: 100%;
  background: #fff;
  border: 1px solid #d2d8e4;
  border-radius: 4px;
  margin-top: 5px;
  transition: 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transform: translateY(80px);

  &--open {
    visibility: visible;
    opacity: 1;
    transform: translateY(60px);
    transition: 0.2s ease-in-out;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.06);
  }

  &__line {
    align-items: flex-end;

    @media screen and (max-width: 1100px) {
      justify-content: space-between;
    }
  }

  .item {
    width: 300px;
    margin: 0 10px 15px 14px;

    label,
    legend {
      font-size: 13px;
    }

    input {
      width: 100%;
      font-size: 13px;
    }

    .select2-container {
      font-size: 13px;
    }

    .bootstrap-select {
      .btn-light {
        font-size: 13px;
      }
    }

    @media screen and (max-width: 1360px) {
      width: 230px;
      margin: 0 5px 15px 5px;
    }

    @media screen and (max-width: 1100px) {
      width: 49%;
      margin: 0;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}
