.modal.modal-static.fade(id="modal-delete" tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-icon.modal-icon--custom
        svg(xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" fill="none")
          path(d="M19.8199 17.0004L32.4199 4.42037C32.7965 4.04376 33.0081 3.53297 33.0081 3.00037C33.0081 2.46777 32.7965 1.95698 32.4199 1.58037C32.0433 1.20376 31.5325 0.992187 30.9999 0.992188C30.4673 0.992188 29.9565 1.20376 29.5799 1.58037L16.9999 14.1804L4.41988 1.58037C4.04327 1.20376 3.53248 0.992188 2.99988 0.992188C2.46727 0.992188 1.95649 1.20376 1.57988 1.58037C1.20327 1.95698 0.991695 2.46777 0.991695 3.00037C0.991695 3.53297 1.20327 4.04376 1.57988 4.42037L14.1799 17.0004L1.57988 29.5804C1.39242 29.7663 1.24363 29.9875 1.1421 30.2312C1.04056 30.4749 0.988281 30.7363 0.988281 31.0004C0.988281 31.2644 1.04056 31.5258 1.1421 31.7695C1.24363 32.0132 1.39242 32.2344 1.57988 32.4204C1.7658 32.6078 1.98701 32.7566 2.23072 32.8581C2.47444 32.9597 2.73585 33.012 2.99988 33.012C3.2639 33.012 3.52531 32.9597 3.76903 32.8581C4.01275 32.7566 4.23395 32.6078 4.41988 32.4204L16.9999 19.8204L29.5799 32.4204C29.7658 32.6078 29.987 32.7566 30.2307 32.8581C30.4744 32.9597 30.7359 33.012 30.9999 33.012C31.2639 33.012 31.5253 32.9597 31.769 32.8581C32.0128 32.7566 32.234 32.6078 32.4199 32.4204C32.6073 32.2344 32.7561 32.0132 32.8577 31.7695C32.9592 31.5258 33.0115 31.2644 33.0115 31.0004C33.0115 30.7363 32.9592 30.4749 32.8577 30.2312C32.7561 29.9875 32.6073 29.7663 32.4199 29.5804L19.8199 17.0004Z" fill="#EE3636")
          path(d="M19.8199 17.0004L32.4199 4.42037C32.7965 4.04376 33.0081 3.53297 33.0081 3.00037C33.0081 2.46777 32.7965 1.95698 32.4199 1.58037C32.0433 1.20376 31.5325 0.992187 30.9999 0.992188C30.4673 0.992188 29.9565 1.20376 29.5799 1.58037L16.9999 14.1804L4.41988 1.58037C4.04327 1.20376 3.53248 0.992188 2.99988 0.992188C2.46727 0.992188 1.95649 1.20376 1.57988 1.58037C1.20327 1.95698 0.991695 2.46777 0.991695 3.00037C0.991695 3.53297 1.20327 4.04376 1.57988 4.42037L14.1799 17.0004L1.57988 29.5804C1.39242 29.7663 1.24363 29.9875 1.1421 30.2312C1.04056 30.4749 0.988281 30.7363 0.988281 31.0004C0.988281 31.2644 1.04056 31.5258 1.1421 31.7695C1.24363 32.0132 1.39242 32.2344 1.57988 32.4204C1.7658 32.6078 1.98701 32.7566 2.23072 32.8581C2.47444 32.9597 2.73585 33.012 2.99988 33.012C3.2639 33.012 3.52531 32.9597 3.76903 32.8581C4.01275 32.7566 4.23395 32.6078 4.41988 32.4204L16.9999 19.8204L29.5799 32.4204C29.7658 32.6078 29.987 32.7566 30.2307 32.8581C30.4744 32.9597 30.7359 33.012 30.9999 33.012C31.2639 33.012 31.5253 32.9597 31.769 32.8581C32.0128 32.7566 32.234 32.6078 32.4199 32.4204C32.6073 32.2344 32.7561 32.0132 32.8577 31.7695C32.9592 31.5258 33.0115 31.2644 33.0115 31.0004C33.0115 30.7363 32.9592 30.4749 32.8577 30.2312C32.7561 29.9875 32.6073 29.7663 32.4199 29.5804L19.8199 17.0004Z" fill="#FF4141")
      h5.bold Внимание!
      span Это действие нельзя будет отменить
      .modal-button
        button.btn.btn--gray(data-dismiss="modal") Отмена
        button.btn.btn--green ОК
