.modal.modal-add.fade(id="modal-add" tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      form.form
        label(for="name") Добавить раздел
        input(id="name")
      .modal-button
        button.btn.btn--middle.btn--gray(data-dismiss="modal") Отмена
        button.btn.btn--middle.btn--green Добавить
