.modal.modal-static.fade(id="modal-block" tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-icon
        svg(xmlns="http://www.w3.org/2000/svg" width="64" height="80" viewBox="0 0 64 80" fill="none")
          path(d="M55.2727 29.797V21.4815C55.2727 9.63704 44.832 0 32 0C19.168 0 8.72727 9.63704 8.72727 21.4815V29.797C3.78036 30.6652 0 35.0563 0 40.3407V69.2918C0 75.1955 4.71709 80 10.5149 80H53.4851C59.2829 80 64 75.1956 64 69.2904V40.3393C64 35.0563 60.2196 30.6652 55.2727 29.797ZM11.6364 21.4815C11.6364 11.2696 20.7709 2.96296 32 2.96296C43.2291 2.96296 52.3636 11.2696 52.3636 21.4815V29.6296H11.6364V21.4815ZM61.0909 69.2904C61.0909 73.5615 57.6785 77.037 53.4851 77.037H10.5149C6.32146 77.037 2.90909 73.5615 2.90909 69.2904V40.3393C2.90909 36.0681 6.32146 32.5926 10.5149 32.5926H53.4851C57.6785 32.5926 61.0909 36.0681 61.0909 40.3393V69.2904Z" fill="#90A0B7")
          path(d="M32 41.4815C28.7913 41.4815 26.1818 44.1393 26.1818 47.4074V56.2963C26.1818 59.5644 28.7913 62.2222 32 62.2222C35.2087 62.2222 37.8182 59.5644 37.8182 56.2963V47.4074C37.8182 44.1393 35.2087 41.4815 32 41.4815ZM34.9091 56.2963C34.9091 57.9304 33.6044 59.2593 32 59.2593C30.3956 59.2593 29.0909 57.9304 29.0909 56.2963V47.4074C29.0909 45.7733 30.3956 44.4444 32 44.4444C33.6044 44.4444 34.9091 45.7733 34.9091 47.4074V56.2963Z" fill="#90A0B7")
      h5.bold Заблокировать?
      .modal-button
        button.btn.btn--gray(data-dismiss="modal") Отмена
        button.btn.btn--green Да
