nav
	ul.pagination
		li.page-item
			a(href="#").page-link
				svg(width="23" height="6" viewBox="0 0 23 6" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M8 0.5L2 5H23" stroke="white")
		li.page-item
			a(href="#").page-link 1
		li.page-item
			a(href="#").page-link.active 2
		li.page-item
			a(href="#").page-link 3
		li.page-item
			a(href="#").page-link 4
		li.page-item
			a(href="#").page-link 5
		li.page-item
			a(href="#").page-link
				svg(width="23" height="6" viewBox="0 0 23 6" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M15 0.5L21 5H0" stroke="white")