.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;

  .auth-card {
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 80px 49px 60px;
    width: 480px;
    text-align: center;

    &__form {
      padding-top: 40px;
    }

    h1 {
      text-transform: uppercase;
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__bottom {
      padding-top: 18px;
      text-align: center;

      a {
        color: #99aac3;
        font-size: 12px;
        display: block;
        transition: all 0.4s ease;

        &:hover {
          color: var(--blue);
        }
      }

      span {
        vertical-align: middle;
        padding-left: 10px;
      }
    }
  }

  .form {
    &__text {
      font-size: 14px;
      color: #50575c;
      line-height: 22px;
      padding-bottom: 12px;
    }

    .btn {
      width: 100%;
      margin-top: 2px;
      padding: 9px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 1200px) {
    .auth-card {
      padding: 45px 32px 45px;

      &__form {
        padding-top: 25px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .auth-card {
      width: 100%;
      padding: 25px 15px 25px;
    }

    .form {
      &__item {
        margin-bottom: 10px;
      }

      .btn {
        font-size: 15px;
      }
    }
  }
}
