.wrapper-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 25px;

  @media screen and (max-width: 1360px) {
    padding-top: 17px;
  }
}

.pagination {
  &__item {
    margin: 0 8px;
  }

  &__link {
    color: #000;
    border: 1px solid #d2d8e4;
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &:hover,
    &.active {
      color: #fff;
      background: var(--blue);
      border-color: var(--blue);

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}
