extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Редактировать
      .head-content__bottom.flex-element
        ul.nav.tabs-navigation
          li.tabs-navigation__item
            a.tabs-navigation__link.active(href='/company-profile.html') Профиль
          li.tabs-navigation__item
            a.tabs-navigation__link(href='/company-vacancy.html') Вакансии
        .button-group
          a(href="#").btn.btn--white Назад
          button.btn.btn--red Заблокировать
          button.btn.btn--gray Удалить

      .card
        form.form.flex-element.form--basis
          include ../common/component/avatar
          .form__content
            .form__inline
              .form__item
                label(for="company_type") Тип организации
                select(id="company_type" name="name" class="form-control select-custom")
                  option ООО
                  option ИП
              .form__item
                label(for="name") Наименование организации
                input(id="name" name="name" type="text" placeholder="Введите наименование организации")
            .form__inline
              .form__item
                label(for="start_year") Год основания
                input(id="start_year" type="number" name="start_year" placeholder="Введите год основания")
              .form__item
                label(for="city") Город
                input(id="city" name="city" type="text" placeholder="Введите город")
            .form__inline
              .form__item
                label(for="main_address") Основной адрес
                input(id="main_address" name="main_address" type="text" placeholder="Введите основной адрес")
              .form__item
                label(for="legal_address") Юридический адрес
                input(id="legal_address" name="legal_address" type="text" placeholder="Введите юридический адрес")
            .form__inline
              .form__item
                label(for="site") Сайт
                input(id="site" name="site" type="text" placeholder="Введите сайт")
              .form__item
                label(for="category") Отрасль компании
                input(id="category" name="category")
              .form__item.form__item--width
                label(for="description") Описание
                textarea(id="description" name="description" placeholder="Введите описание")
            .form__button
              button.btn.btn--accent Сохранить

