extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Сайт — Помощь
      .card.card--min
        form.form.form--basis.form--help
          .form__inline.form__inline--jc
            .form__item
              label(for="title") Заголовок:
              input(id="title" name="title" type="text")
            .form__group
              a(href="#").btn.btn--white.btn--width Назад
              button.btn.btn--accent.btn--width Сохранить
          .form__item.form__item--width
            label(for="description") Описание
            textarea(id="description" name="description" placeholder="Введите описание")

