extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Сайт — Помощь
      .head-content__bottom
        ul.nav.tabs-navigation
          li.tabs-navigation__item
            a.tabs-navigation__link.active(href='#') Студентам
          li.tabs-navigation__item
            a.tabs-navigation__link(href='#') Университетам
          li.tabs-navigation__item
            a.tabs-navigation__link(href='#') Работодателям
      .card.card--min.card-mb
        include ../common/component/search
      .add-article
        .add-article__head.flex-element
          h3.bold.size-middle.mb-none Разделы
          a(href="#" data-toggle="modal" data-target="#modal-add").btn.btn--accent.btn--middle Добавить раздел
        .add-article__body
          - for (let i = 0; i < 3; i++)
            .article-items
              .article-items__head
                .article-item.flex-element
                  .article-item__name Регистрация на сайте
                    a(href="#" data-toggle="modal" data-target="#modal-add").btn.btn--accent.btn--middle.btn--min Добавить материал
                  .article-item__date 12.02.19
                  .btn-group
                    a(href="#" title="Редактировать").edit
                      svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    button.delete(title="Удалить" data-toggle="modal" data-target="#modal-delete")
                      svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M9 9L15 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        path(d="M15 9L9 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              .article-items__body
                - for (let j = 0; j < 3; j++)
                  .article-item.flex-element
                    a(href="#").article-item__name Управление рассылками для соискателей
                    .article-item__date 12.02.16
                    .btn-group
                      a(href="#" title="Редактировать").edit
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      button.delete(title="Удалить" data-toggle="modal" data-target="#modal-delete")
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M9 9L15 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M15 9L9 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

  include ../common/component/modal-add