extends ../_template

block content
    include ../common/sidebar
    .content
        include ../common/header
        .head-content
            .head-content__line
                h1 Новый университет

            .card
                form.form.form--basis.form--primary
                    .form__item
                        label(for="city") Город
                        input(id="city" name="city" type="text" placeholder="Введите город")
                    .form__item
                        label(for="university-name") Название университета
                        input(id="university-name" type="text" name="university-name" placeholder="Введите наименование факультета")
                    .form__button
                        button.btn.btn--accent Сохранить

