extends ../_template2

block variables
  - var title = 'Восстановить пароль';
  - var selected = 'Восстановить пароль'

block content
  .auth-container
    .auth-card
      a(href="#").logo
        img(src="img/logo.png", alt="")
      form.auth-card__form.form
        h1 Admin panel
        .form__text Введите e-mail, на который был зарегистрирован аккаунт, на него будет отправлен новый пароль
        .form__item
          label(for="email").visually-hidden Email
          input(type="text" id="email" placeholder="Введите e-mail")
        .form-item
          button.btn.btn--accent.btn--bold.btn--upper Восстановить
      .auth-card__bottom
        a(href="#")
          svg(width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M13.71 11.7096C14.6904 10.9383 15.406 9.88056 15.7572 8.68358C16.1085 7.4866 16.0779 6.2099 15.6698 5.0311C15.2617 3.85231 14.4963 2.83003 13.4801 2.10649C12.4639 1.38296 11.2474 0.994141 10 0.994141C8.75255 0.994141 7.53611 1.38296 6.51993 2.10649C5.50374 2.83003 4.73834 3.85231 4.33021 5.0311C3.92208 6.2099 3.89151 7.4866 4.24276 8.68358C4.59401 9.88056 5.3096 10.9383 6.29 11.7096C4.61007 12.3827 3.14428 13.499 2.04889 14.9396C0.953495 16.3801 0.26956 18.0909 0.0699967 19.8896C0.0555513 20.021 0.0671132 20.1538 0.104022 20.2807C0.140931 20.4075 0.202464 20.5259 0.285108 20.629C0.452016 20.8371 0.69478 20.9705 0.959997 20.9996C1.22521 21.0288 1.49116 20.9514 1.69932 20.7845C1.90749 20.6176 2.04082 20.3749 2.07 20.1096C2.28958 18.1548 3.22168 16.3494 4.68822 15.0384C6.15475 13.7274 8.0529 13.0027 10.02 13.0027C11.9871 13.0027 13.8852 13.7274 15.3518 15.0384C16.8183 16.3494 17.7504 18.1548 17.97 20.1096C17.9972 20.3554 18.1144 20.5823 18.2991 20.7467C18.4838 20.911 18.7228 21.0011 18.97 20.9996H19.08C19.3421 20.9695 19.5817 20.8369 19.7466 20.6309C19.9114 20.4248 19.9881 20.162 19.96 19.8996C19.7595 18.0958 19.0719 16.3806 17.9708 14.9378C16.8698 13.4951 15.3969 12.3791 13.71 11.7096ZM10 10.9996C9.20887 10.9996 8.43551 10.765 7.77772 10.3255C7.11992 9.88599 6.60723 9.26128 6.30448 8.53037C6.00173 7.79947 5.92251 6.9952 6.07686 6.21928C6.2312 5.44335 6.61216 4.73062 7.17157 4.17121C7.73098 3.6118 8.44371 3.23084 9.21964 3.0765C9.99556 2.92215 10.7998 3.00137 11.5307 3.30412C12.2616 3.60687 12.8863 4.11956 13.3259 4.77736C13.7654 5.43515 14 6.20851 14 6.99964C14 8.0605 13.5786 9.07792 12.8284 9.82806C12.0783 10.5782 11.0609 10.9996 10 10.9996Z" fill="#99AAC3")
          span Вернуться к авторизации

