extends ../_template

block content
    include ../common/sidebar
    .content
        include ../common/header
        .head-content
            .head-content__line
                h1 Резюме
            .card.card--min.card--mb
                form.form.form-search.flex-element
                    label(for="name" id="name" class="visually-hidden") Введите название резюме
                    input(type="text" placeholder="Введите название резюме" name="name" class="control")
                    button.btn.btn--accent
                        span Найти
                        svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M6.5 13C2.91015 13 0 10.0899 0 6.5C0 2.91015 2.91015 0 6.5 0C10.0899 0 13 2.91015 13 6.5C13 7.99347 12.4963 9.36929 11.6496 10.4669L15.7211 14.3742C16.093 14.7461 16.093 15.3491 15.7211 15.7211C15.3491 16.093 14.7461 16.093 14.3742 15.7211L10.2779 11.79C9.21322 12.5517 7.90896 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="white")

            .card
                .table-responsive
                    table.table
                        thead
                            tr
                                th Вакансия
                                th Компания
                                th
                        tbody
                            - for (let i = 0; i < 5; i++)
                                tr
                                    td Программист Python
                                    td Саламат
                                    td
                                        a(href="#" title="Редактировать").edit
                                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button.delete(title="Удалить" data-toggle="modal" data-target="#modal-delete")
                                            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M9 9L15 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                                path(d="M15 9L9 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                                        button.block(title="Заблокировать" data-toggle="modal" data-target="#modal-block")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none")
                                                path(d="M8 11C7.69555 10.9964 7.39732 11.0862 7.14544 11.2573C6.89357 11.4284 6.70015 11.6725 6.59121 11.9568C6.48228 12.2411 6.46306 12.552 6.53615 12.8476C6.60923 13.1431 6.77111 13.4092 7 13.61V15C7 15.2652 7.10536 15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V13.61C9.22889 13.4092 9.39077 13.1431 9.46385 12.8476C9.53694 12.552 9.51772 12.2411 9.40879 11.9568C9.29985 11.6725 9.10643 11.4284 8.85456 11.2573C8.60268 11.0862 8.30445 10.9964 8 11ZM13 7V5C13 3.67392 12.4732 2.40215 11.5355 1.46447C10.5979 0.526784 9.32608 0 8 0C6.67392 0 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5V7C2.20435 7 1.44129 7.31607 0.87868 7.87868C0.316071 8.44129 0 9.20435 0 10V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V10C16 9.20435 15.6839 8.44129 15.1213 7.87868C14.5587 7.31607 13.7956 7 13 7ZM5 5C5 4.20435 5.31607 3.44129 5.87868 2.87868C6.44129 2.31607 7.20435 2 8 2C8.79565 2 9.55871 2.31607 10.1213 2.87868C10.6839 3.44129 11 4.20435 11 5V7H5V5ZM14 17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V10C2 9.73478 2.10536 9.48043 2.29289 9.29289C2.48043 9.10536 2.73478 9 3 9H13C13.2652 9 13.5196 9.10536 13.7071 9.29289C13.8946 9.48043 14 9.73478 14 10V17Z" fill="#68727A")
                .wrapper-pagination
                    ul.pagination
                        li.pagination__item
                            a(href="#").pagination__link
                                svg(width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M5.29002 1.28982L0.290018 6.28981C0.198978 6.38492 0.127613 6.49706 0.0800184 6.61981C-0.0199996 6.86328 -0.0199996 7.13635 0.0800184 7.37981C0.127613 7.50257 0.198978 7.61471 0.290018 7.70981L5.29002 12.7098C5.38326 12.8031 5.49395 12.877 5.61577 12.9275C5.73759 12.9779 5.86816 13.0039 6.00002 13.0039C6.26632 13.0039 6.52172 12.8981 6.71002 12.7098C6.89832 12.5215 7.00411 12.2661 7.00411 11.9998C7.00411 11.7335 6.89832 11.4781 6.71002 11.2898L3.41002 7.99981L11 7.99981C11.2652 7.99981 11.5196 7.89446 11.7071 7.70692C11.8947 7.51938 12 7.26503 12 6.99981C12 6.7346 11.8947 6.48024 11.7071 6.29271C11.5196 6.10517 11.2652 5.99981 11 5.99981L3.41002 5.99981L6.71002 2.70981C6.80375 2.61685 6.87814 2.50625 6.92891 2.38439C6.97968 2.26253 7.00582 2.13183 7.00582 1.99981C7.00582 1.8678 6.97968 1.7371 6.92891 1.61524C6.87814 1.49338 6.80375 1.38278 6.71002 1.28982C6.61706 1.19609 6.50645 1.12169 6.3846 1.07092C6.26274 1.02015 6.13203 0.994017 6.00002 0.994017C5.86801 0.994017 5.7373 1.02015 5.61544 1.07092C5.49358 1.12169 5.38298 1.19609 5.29002 1.28982Z" fill="#90A0B7")
                        li.pagination__item
                            a(href="#").pagination__link 1
                        li.pagination__item
                            a(href="#").pagination__link 2
                        li.pagination__item
                            a(href="#").pagination__link 3
                        li.pagination__item
                            a(href="#").pagination__link
                                svg(width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M6.7101 1.28982L11.7101 6.28981C11.8011 6.38492 11.8725 6.49706 11.9201 6.61981C12.0201 6.86328 12.0201 7.13635 11.9201 7.37981C11.8725 7.50257 11.8011 7.61471 11.7101 7.70981L6.7101 12.7098C6.61687 12.8031 6.50618 12.877 6.38435 12.9275C6.26253 12.9779 6.13196 13.0039 6.0001 13.0039C5.7338 13.0039 5.47841 12.8981 5.2901 12.7098C5.1018 12.5215 4.99601 12.2661 4.99601 11.9998C4.99601 11.7335 5.1018 11.4781 5.2901 11.2898L8.5901 7.99981L1.0001 7.99981C0.734887 7.99981 0.480533 7.89446 0.292996 7.70692C0.10546 7.51938 0.000103951 7.26503 0.000103951 6.99981C0.000103951 6.7346 0.10546 6.48024 0.292996 6.29271C0.480533 6.10517 0.734887 5.99981 1.0001 5.99981L8.5901 5.99981L5.2901 2.70981C5.19637 2.61685 5.12198 2.50625 5.07121 2.38439C5.02044 2.26253 4.99431 2.13183 4.99431 1.99981C4.99431 1.8678 5.02044 1.7371 5.07121 1.61524C5.12198 1.49338 5.19637 1.38278 5.2901 1.28982C5.38307 1.19609 5.49367 1.12169 5.61553 1.07092C5.73739 1.02015 5.86809 0.994017 6.0001 0.994017C6.13212 0.994017 6.26282 1.02015 6.38468 1.07092C6.50654 1.12169 6.61714 1.19609 6.7101 1.28982Z" fill="#90A0B7")
    include ../common/component/modal-delete
    include ../common/component/modal-block