extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line.head-content__line--mb-none
        h1 Резюме
      .head-content__bottom
        .button-group.button-group--right
          a(href="#").btn.btn--white Назад
          button.btn.btn--red Заблокировать
          button.btn.btn--gray Удалить
      .card
        form.form.form--create
          .form__item
            label(for="category") Профессиональная область:
            input(id="category" name="category" type="text" placeholder="Введите название")
          .form__item
            label(for="city") Город
            input(name="city" id="city" placeholder="Введите город")
          .form__item
            label(for="post") Должность
            input(id="post" type="text" name="post" placeholder="Введите должность")
          .form__item
            label(for="salary") Должность
            input(id="salary" type="text" name="salary" placeholder="от")
          .form__item
            label(for="type_employment") Тип занятости
            select(name="type_employment" class="form-control select-custom" id="type_employment" multiple="multiple")
              option Полная занятость
              option Частичная занятость
              option Проектная/Временная работа
              option Волонтерство
              option Стажировка
          fieldset
            legend Готовность к командировкам
            .form__inline
              .form__item.form__item--mr
                input(name="trip" type="radio" id="not-ready" class="radio-custom" value="Не готов")
                label(for="not-ready" class="radio-label mb-none")
                  span Нет готов
              .form__item.form__item--mr
                input(name="trip" type="radio" id="ready" class="radio-custom" value="Готов")
                label(for="ready" class="radio-label mb-none")
                  span Готов
              .form__item.form__item--mr
                input(name="trip" type="radio" id="smt" class="radio-custom" value="Иногда")
                label(for="smt" class="radio-label mb-none")
                  span Иногда
          fieldset
            legend Переезд
            .form__inline
              .form__item.form__item--mr
                input(name="relocation" type="radio" id="impossible" class="radio-custom" value="Невозможен")
                label(for="impossible" class="radio-label mb-none")
                  span Невозможен
              .form__item.form__item--mr
                input(name="relocation" type="radio" id="available" class="radio-custom" value="Возможен")
                label(for="available" class="radio-label mb-none")
                  span Возможен
          .form__item
            label(for="citizenship") Гражданство
            input(id="citizenship" name="citizenship" type="text")
          .form__item
            label(for="about") Расскажите о себе
            textarea(id="about" name="about")
          .form__item
            label(for="keywords") Ключевые навыки
            select(multiple="multiple" id="keywords" class="form-control keywords")
          .form__item
            fieldset
              legend Документы
            .wrapper-documents
              .dropzone#document-upload
          .form__button
            button.btn.btn--accent.btn--large.btn--submit Сохранить