extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Настройки
      .card.card--inline.card-settings
        form.form
          fieldset
            legend.legend-bold Безопасность
            .form__item
              label(for="email") Email:
              input(name="email" id="email")
            .form__item
              label(for="password") Пароль:
              input(name="password" id="password")
            .form__item
              button.btn.btn--accent.btn--width Сохранить


  include ../common/component/modal-delete