extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Статистика
      .card.card--inline.card-info.card--min
        .list-items
          .list-items__item.flex-element
            .list-items__name Количество ВУЗов:
            .list-items__count 2 663
          .list-items__item.flex-element
            .list-items__name Количество компаний:
            .list-items__count 663
          .list-items__item.flex-element
            .list-items__name Количество студентов:
            .list-items__count 2 000 000
          .list-items__item.flex-element
            .list-items__name Количество вакансий:
            .list-items__count 8 663
          .list-items__item.flex-element
            .list-items__name Количество резюме:
            .list-items__count 1 000 000