extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Профиль
      .head-content__bottom.flex-element
        ul.nav.tabs-navigation
          li.tabs-navigation__item
            a.tabs-navigation__link.active(href='/student-profile.html') Профиль
          li.tabs-navigation__item
            a.tabs-navigation__link(href='/student-addit-profile.html') Доп. данные
        .button-group
          a(href="#").btn.btn--white Назад
          button.btn.btn--red Заблокировать
          button.btn.btn--gray Удалить
      .card.card--mb
        form.form.flex-element.form--basis
          .change-avatar
            .change-avatar__img.flex-element
              .change-avatar__viewing
                img(src="img/icon.png" alt="")
              button(class="btn btn--red" aria-label="Удалить фотографию")
                svg(xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none" aria-hidden="true")
                  path(d="M17 4H13V3C13 2.20435 12.6839 1.44129 12.1213 0.87868C11.5587 0.316071 10.7956 0 10 0H8C7.20435 0 6.44129 0.316071 5.87868 0.87868C5.31607 1.44129 5 2.20435 5 3V4H1C0.734784 4 0.48043 4.10536 0.292893 4.29289C0.105357 4.48043 0 4.73478 0 5C0 5.26522 0.105357 5.51957 0.292893 5.70711C0.48043 5.89464 0.734784 6 1 6H2V17C2 17.7956 2.31607 18.5587 2.87868 19.1213C3.44129 19.6839 4.20435 20 5 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V6H17C17.2652 6 17.5196 5.89464 17.7071 5.70711C17.8946 5.51957 18 5.26522 18 5C18 4.73478 17.8946 4.48043 17.7071 4.29289C17.5196 4.10536 17.2652 4 17 4ZM7 3C7 2.73478 7.10536 2.48043 7.29289 2.29289C7.48043 2.10536 7.73478 2 8 2H10C10.2652 2 10.5196 2.10536 10.7071 2.29289C10.8946 2.48043 11 2.73478 11 3V4H7V3ZM14 17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H5C4.73478 18 4.48043 17.8946 4.29289 17.7071C4.10536 17.5196 4 17.2652 4 17V6H14V17Z" fill="white")
            .avatar-load.change-avatar__load
              label(aria-label="Загрузить из файла")
                svg(aria-hidden="true" width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M17 11.9999C16.7348 11.9999 16.4804 12.1053 16.2929 12.2928C16.1054 12.4803 16 12.7347 16 12.9999V13.3799L14.52 11.8999C13.9974 11.3814 13.2911 11.0905 12.555 11.0905C11.8189 11.0905 11.1126 11.3814 10.59 11.8999L9.89 12.5999L7.41 10.1199C6.88012 9.6155 6.17657 9.33418 5.445 9.33418C4.71343 9.33418 4.00988 9.6155 3.48 10.1199L2 11.5999V5.9999C2 5.73468 2.10536 5.48033 2.29289 5.29279C2.48043 5.10525 2.73478 4.9999 3 4.9999H10C10.2652 4.9999 10.5196 4.89454 10.7071 4.707C10.8946 4.51947 11 4.26511 11 3.9999C11 3.73468 10.8946 3.48033 10.7071 3.29279C10.5196 3.10525 10.2652 2.9999 10 2.9999H3C2.20435 2.9999 1.44129 3.31597 0.87868 3.87858C0.316071 4.44118 0 5.20425 0 5.9999V17.9999C0 18.7955 0.316071 19.5586 0.87868 20.1212C1.44129 20.6838 2.20435 20.9999 3 20.9999H15C15.7956 20.9999 16.5587 20.6838 17.1213 20.1212C17.6839 19.5586 18 18.7955 18 17.9999V12.9999C18 12.7347 17.8946 12.4803 17.7071 12.2928C17.5196 12.1053 17.2652 11.9999 17 11.9999ZM3 18.9999C2.73478 18.9999 2.48043 18.8945 2.29289 18.707C2.10536 18.5195 2 18.2651 2 17.9999V14.4299L4.9 11.5299C5.04691 11.3899 5.24206 11.3118 5.445 11.3118C5.64794 11.3118 5.84309 11.3899 5.99 11.5299L9.16 14.6999L13.46 18.9999H3ZM16 17.9999C15.9986 18.1913 15.9354 18.3772 15.82 18.5299L11.31 13.9999L12.01 13.2999C12.0817 13.2267 12.1673 13.1686 12.2617 13.1289C12.3561 13.0892 12.4576 13.0688 12.56 13.0688C12.6624 13.0688 12.7639 13.0892 12.8583 13.1289C12.9527 13.1686 13.0383 13.2267 13.11 13.2999L16 16.2099V17.9999ZM20.71 3.2899L17.71 0.289896C17.6149 0.198856 17.5028 0.127491 17.38 0.0798963C17.1365 -0.0201217 16.8635 -0.0201217 16.62 0.0798963C16.4972 0.127491 16.3851 0.198856 16.29 0.289896L13.29 3.2899C13.1968 3.38313 13.1228 3.49382 13.0723 3.61565C13.0219 3.73747 12.9959 3.86804 12.9959 3.9999C12.9959 4.2662 13.1017 4.52159 13.29 4.7099C13.4783 4.8982 13.7337 5.00399 14 5.00399C14.2663 5.00399 14.5217 4.8982 14.71 4.7099L16 3.4099V8.9999C16 9.26511 16.1054 9.51947 16.2929 9.707C16.4804 9.89454 16.7348 9.9999 17 9.9999C17.2652 9.9999 17.5196 9.89454 17.7071 9.707C17.8946 9.51947 18 9.26511 18 8.9999V3.4099L19.29 4.7099C19.383 4.80362 19.4936 4.87802 19.6154 4.92879C19.7373 4.97956 19.868 5.00569 20 5.00569C20.132 5.00569 20.2627 4.97956 20.3846 4.92879C20.5064 4.87802 20.617 4.80362 20.71 4.7099C20.8037 4.61693 20.8781 4.50633 20.9289 4.38447C20.9797 4.26261 21.0058 4.13191 21.0058 3.9999C21.0058 3.86788 20.9797 3.73718 20.9289 3.61532C20.8781 3.49346 20.8037 3.38286 20.71 3.2899Z" fill="white")
                span Загрузить из фото
                input(id="photo" name="photo" type="file")
          .form__content.form__content--custom
            .form__item
              label(for="surname") Фамилия
              input(id="surname" name="surname" type="text")
            .form__item
              label(for="name") Имя
              input(id="name" type="text" name="name")
            .form__item
              label(for="phone") Телефон
              input(id="phone" type="text" name="phone" class="phone")
            .form__item
              label(for="email") Email
              input(id="email" type="text" name="email")
            .form__button
              button.btn.btn--accent Сохранить
      section.dop-content
        h2 Резюме
        .card.card--min.card--mb
          - for (let i = 0; i < 5; i++)
            .list-items
              .list-items__item.flex-element
                .list-items__name Программист Python
                .list-items__btn
                  a(href="#" title="Редактировать").edit
                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  button.delete(title="Удалить" data-toggle="modal" data-target="#modal-delete")
                    svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M9 9L15 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M15 9L9 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  button.block(title="Заблокировать" data-toggle="modal" data-target="#modal-block")
                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none")
                      path(d="M8 11C7.69555 10.9964 7.39732 11.0862 7.14544 11.2573C6.89357 11.4284 6.70015 11.6725 6.59121 11.9568C6.48228 12.2411 6.46306 12.552 6.53615 12.8476C6.60923 13.1431 6.77111 13.4092 7 13.61V15C7 15.2652 7.10536 15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V13.61C9.22889 13.4092 9.39077 13.1431 9.46385 12.8476C9.53694 12.552 9.51772 12.2411 9.40879 11.9568C9.29985 11.6725 9.10643 11.4284 8.85456 11.2573C8.60268 11.0862 8.30445 10.9964 8 11ZM13 7V5C13 3.67392 12.4732 2.40215 11.5355 1.46447C10.5979 0.526784 9.32608 0 8 0C6.67392 0 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5V7C2.20435 7 1.44129 7.31607 0.87868 7.87868C0.316071 8.44129 0 9.20435 0 10V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V10C16 9.20435 15.6839 8.44129 15.1213 7.87868C14.5587 7.31607 13.7956 7 13 7ZM5 5C5 4.20435 5.31607 3.44129 5.87868 2.87868C6.44129 2.31607 7.20435 2 8 2C8.79565 2 9.55871 2.31607 10.1213 2.87868C10.6839 3.44129 11 4.20435 11 5V7H5V5ZM14 17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V10C2 9.73478 2.10536 9.48043 2.29289 9.29289C2.48043 9.10536 2.73478 9 3 9H13C13.2652 9 13.5196 9.10536 13.7071 9.29289C13.8946 9.48043 14 9.73478 14 10V17Z" fill="#68727A")

  include ../common/component/modal-delete
  include ../common/component/modal-block