extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Профиль
      .head-content__bottom.flex-element
        ul.nav.tabs-navigation
          li.tabs-navigation__item
            a.tabs-navigation__link.active(href='/student-profile.html') Профиль
          li.tabs-navigation__item
            a.tabs-navigation__link(href='/student-addit-profile.html') Доп. данные
        .button-group
          a(href="#").btn.btn--white Назад
          button.btn.btn--red Заблокировать
          button.btn.btn--gray Удалить
      .card
        form.form.flex-element.form--basis
          include ../common/component/avatar
          .form__content.form__content--custom
            .form__item
              label(for="gender") Пол
              select(id="gender" name="gender" class="form-control select-custom")
                option Мужской
                option Женский
            .form__item
              label(for="birthday") День рождения
              input(id="birthday" type="date" name="birthday")
            .form__item
              label(for="city") Место проживания
              input(id="city" type="text" name="city")
            .form__button
              button.btn.btn--accent Сохранить


  include ../common/component/modal-delete
  include ../common/component/modal-block