extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Поиск студентов
      .card.card--min.card--mb
        form.form.form-search.form-search--custom.flex-element
          label(for="name" id="name" class="visually-hidden") Поиск студентов
          input(type="text" placeholder="Поиск студентов" name="name" class="control")
          button.btn.filter(aria-label="Фильтр")
            span Фильтр
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
              path(d="M8.18 4.00009H3C2.73478 4.00009 2.48043 4.10544 2.29289 4.29298C2.10536 4.48051 2 4.73487 2 5.00009C2 5.2653 2.10536 5.51966 2.29289 5.70719C2.48043 5.89473 2.73478 6.00009 3 6.00009H8.18C8.39021 6.57924 8.77363 7.07963 9.27817 7.43324C9.7827 7.78686 10.3839 7.97656 11 7.97656C11.6161 7.97656 12.2173 7.78686 12.7218 7.43324C13.2264 7.07963 13.6098 6.57924 13.82 6.00009L21 6.00009C21.2652 6.00009 21.5196 5.89473 21.7071 5.70719C21.8946 5.51966 22 5.2653 22 5.00009C22 4.73487 21.8946 4.48051 21.7071 4.29298C21.5196 4.10544 21.2652 4.00009 21 4.00009H13.82C13.6098 3.42093 13.2264 2.92055 12.7218 2.56693C12.2173 2.21331 11.6161 2.02361 11 2.02361C10.3839 2.02361 9.7827 2.21331 9.27817 2.56693C8.77363 2.92055 8.39021 3.42093 8.18 4.00009ZM12 5.00009C12 5.19787 11.9414 5.39121 11.8315 5.55566C11.7216 5.72011 11.5654 5.84828 11.3827 5.92397C11.2 5.99965 10.9989 6.01946 10.8049 5.98087C10.6109 5.94229 10.4327 5.84705 10.2929 5.70719C10.153 5.56734 10.0578 5.38916 10.0192 5.19518C9.98063 5.0012 10.0004 4.80013 10.0761 4.6174C10.1518 4.43468 10.28 4.2785 10.4444 4.16862C10.6089 4.05873 10.8022 4.00009 11 4.00009C11.2652 4.00009 11.5196 4.10544 11.7071 4.29298C11.8946 4.48051 12 4.73487 12 5.00009ZM14.18 11.0001H3C2.73478 11.0001 2.48043 11.1054 2.29289 11.293C2.10536 11.4805 2 11.7349 2 12.0001C2 12.2653 2.10536 12.5197 2.29289 12.7072C2.48043 12.8947 2.73478 13.0001 3 13.0001H14.18C14.3902 13.5792 14.7736 14.0796 15.2782 14.4332C15.7827 14.7869 16.3839 14.9766 17 14.9766C17.6161 14.9766 18.2173 14.7869 18.7218 14.4332C19.2264 14.0796 19.6098 13.5792 19.82 13.0001H21C21.2652 13.0001 21.5196 12.8947 21.7071 12.7072C21.8946 12.5197 22 12.2653 22 12.0001C22 11.7349 21.8946 11.4805 21.7071 11.293C21.5196 11.1054 21.2652 11.0001 21 11.0001H19.82C19.6098 10.4209 19.2264 9.92055 18.7218 9.56693C18.2173 9.21331 17.6161 9.02361 17 9.02361C16.3839 9.02361 15.7827 9.21331 15.2782 9.56693C14.7736 9.92055 14.3902 10.4209 14.18 11.0001ZM18 12.0001C18 12.1979 17.9414 12.3912 17.8315 12.5557C17.7216 12.7201 17.5654 12.8483 17.3827 12.924C17.2 12.9997 16.9989 13.0195 16.8049 12.9809C16.6109 12.9423 16.4327 12.847 16.2929 12.7072C16.153 12.5673 16.0578 12.3892 16.0192 12.1952C15.9806 12.0012 16.0004 11.8001 16.0761 11.6174C16.1518 11.4347 16.28 11.2785 16.4444 11.1686C16.6089 11.0587 16.8022 11.0001 17 11.0001C17.2652 11.0001 17.5196 11.1054 17.7071 11.293C17.8946 11.4805 18 11.7349 18 12.0001ZM6.18 18.0001H3C2.73478 18.0001 2.48043 18.1054 2.29289 18.293C2.10536 18.4805 2 18.7349 2 19.0001C2 19.2653 2.10536 19.5197 2.29289 19.7072C2.48043 19.8947 2.73478 20.0001 3 20.0001H6.18C6.3902 20.5792 6.77363 21.0796 7.27817 21.4332C7.7827 21.7869 8.38388 21.9766 9 21.9766C9.61612 21.9766 10.2173 21.7869 10.7218 21.4332C11.2264 21.0796 11.6098 20.5792 11.82 20.0001H21C21.2652 20.0001 21.5196 19.8947 21.7071 19.7072C21.8946 19.5197 22 19.2653 22 19.0001C22 18.7349 21.8946 18.4805 21.7071 18.293C21.5196 18.1054 21.2652 18.0001 21 18.0001H11.82C11.6098 17.4209 11.2264 16.9205 10.7218 16.5669C10.2173 16.2133 9.61612 16.0236 9 16.0236C8.38388 16.0236 7.7827 16.2133 7.27817 16.5669C6.77363 16.9205 6.3902 17.4209 6.18 18.0001ZM10 19.0001C10 19.1979 9.94135 19.3912 9.83147 19.5557C9.72159 19.7201 9.56541 19.8483 9.38268 19.924C9.19996 19.9997 8.99889 20.0195 8.80491 19.9809C8.61093 19.9423 8.43275 19.847 8.29289 19.7072C8.15304 19.5673 8.0578 19.3892 8.01922 19.1952C7.98063 19.0012 8.00043 18.8001 8.07612 18.6174C8.15181 18.4347 8.27998 18.2785 8.44443 18.1686C8.60888 18.0587 8.80222 18.0001 9 18.0001C9.26522 18.0001 9.51957 18.1054 9.70711 18.293C9.89464 18.4805 10 18.7349 10 19.0001Z" fill="#90A0B7")
          button.btn.btn--accent
            span Найти
            svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M6.5 13C2.91015 13 0 10.0899 0 6.5C0 2.91015 2.91015 0 6.5 0C10.0899 0 13 2.91015 13 6.5C13 7.99347 12.4963 9.36929 11.6496 10.4669L15.7211 14.3742C16.093 14.7461 16.093 15.3491 15.7211 15.7211C15.3491 16.093 14.7461 16.093 14.3742 15.7211L10.2779 11.79C9.21322 12.5517 7.90896 13 6.5 13ZM6.5 11C8.98528 11 11 8.98528 11 6.5C11 4.01472 8.98528 2 6.5 2C4.01472 2 2 4.01472 2 6.5C2 8.98528 4.01472 11 6.5 11Z" fill="white")
          .filter-content
            .filter-content__line.flex-element
              .item
                label(for="city") Город
                input(id="city" name="city" placeholder="Введите город")
              .item
                label(for="university_id") Университет/Вуз
                input(id="university_id" name="university_id" placeholder="Выберите")
              .item
                label(for="speciality_name") Специальность
                select(name="speciality_name" id="speciality_name" title="Выберите" class="form-control select-custom")
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5
                  option 1
              .item
                label(for="training_form") Квалификация
                select(name="training_form" id="training_form" class="form-control select-custom")
                  option Бакалавр
                  option Магистр
                  option Аспирантура
              .item
                label(for="course") Квалификация
                select(name="training_form" id="course" class="form-control select-custom")
                  option Первый
                  option Второй
                  option Третий
                  option Четвертый
                  option Пятый
                  option Шестой

      .card
        .table-responsive
          table.table
            thead
              tr
                th ФИО
                th Город
                th ВУЗ
                th
            tbody
              - for (let i = 0; i < 5; i++)
                tr
                  td Субхангулов Александр Александр
                  td Петропавловск-Камчатский
                  td ДГУПС(Дальневосточ. гос.унив.путей сообщ)
                  td
                    .btn-group
                      a(href="#" title="Редактировать").edit
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z" stroke="#68727A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      button.delete(title="Удалить" data-toggle="modal" data-target="#modal-delete")
                        svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M9 9L15 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                          path(d="M15 9L9 15" stroke="#90A0B7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                      button.block(title="Заблокировать" data-toggle="modal" data-target="#modal-block")
                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none")
                          path(d="M8 11C7.69555 10.9964 7.39732 11.0862 7.14544 11.2573C6.89357 11.4284 6.70015 11.6725 6.59121 11.9568C6.48228 12.2411 6.46306 12.552 6.53615 12.8476C6.60923 13.1431 6.77111 13.4092 7 13.61V15C7 15.2652 7.10536 15.5196 7.29289 15.7071C7.48043 15.8946 7.73478 16 8 16C8.26522 16 8.51957 15.8946 8.70711 15.7071C8.89464 15.5196 9 15.2652 9 15V13.61C9.22889 13.4092 9.39077 13.1431 9.46385 12.8476C9.53694 12.552 9.51772 12.2411 9.40879 11.9568C9.29985 11.6725 9.10643 11.4284 8.85456 11.2573C8.60268 11.0862 8.30445 10.9964 8 11ZM13 7V5C13 3.67392 12.4732 2.40215 11.5355 1.46447C10.5979 0.526784 9.32608 0 8 0C6.67392 0 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5V7C2.20435 7 1.44129 7.31607 0.87868 7.87868C0.316071 8.44129 0 9.20435 0 10V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V10C16 9.20435 15.6839 8.44129 15.1213 7.87868C14.5587 7.31607 13.7956 7 13 7ZM5 5C5 4.20435 5.31607 3.44129 5.87868 2.87868C6.44129 2.31607 7.20435 2 8 2C8.79565 2 9.55871 2.31607 10.1213 2.87868C10.6839 3.44129 11 4.20435 11 5V7H5V5ZM14 17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V10C2 9.73478 2.10536 9.48043 2.29289 9.29289C2.48043 9.10536 2.73478 9 3 9H13C13.2652 9 13.5196 9.10536 13.7071 9.29289C13.8946 9.48043 14 9.73478 14 10V17Z" fill="#68727A")
        .wrapper-pagination
          ul.pagination
            li.pagination__item
              a(href="#").pagination__link
                svg(width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M5.29002 1.28982L0.290018 6.28981C0.198978 6.38492 0.127613 6.49706 0.0800184 6.61981C-0.0199996 6.86328 -0.0199996 7.13635 0.0800184 7.37981C0.127613 7.50257 0.198978 7.61471 0.290018 7.70981L5.29002 12.7098C5.38326 12.8031 5.49395 12.877 5.61577 12.9275C5.73759 12.9779 5.86816 13.0039 6.00002 13.0039C6.26632 13.0039 6.52172 12.8981 6.71002 12.7098C6.89832 12.5215 7.00411 12.2661 7.00411 11.9998C7.00411 11.7335 6.89832 11.4781 6.71002 11.2898L3.41002 7.99981L11 7.99981C11.2652 7.99981 11.5196 7.89446 11.7071 7.70692C11.8947 7.51938 12 7.26503 12 6.99981C12 6.7346 11.8947 6.48024 11.7071 6.29271C11.5196 6.10517 11.2652 5.99981 11 5.99981L3.41002 5.99981L6.71002 2.70981C6.80375 2.61685 6.87814 2.50625 6.92891 2.38439C6.97968 2.26253 7.00582 2.13183 7.00582 1.99981C7.00582 1.8678 6.97968 1.7371 6.92891 1.61524C6.87814 1.49338 6.80375 1.38278 6.71002 1.28982C6.61706 1.19609 6.50645 1.12169 6.3846 1.07092C6.26274 1.02015 6.13203 0.994017 6.00002 0.994017C5.86801 0.994017 5.7373 1.02015 5.61544 1.07092C5.49358 1.12169 5.38298 1.19609 5.29002 1.28982Z" fill="#90A0B7")
            li.pagination__item
              a(href="#").pagination__link 1
            li.pagination__item
              a(href="#").pagination__link 2
            li.pagination__item
              a(href="#").pagination__link 3
            li.pagination__item
              a(href="#").pagination__link
                svg(width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M6.7101 1.28982L11.7101 6.28981C11.8011 6.38492 11.8725 6.49706 11.9201 6.61981C12.0201 6.86328 12.0201 7.13635 11.9201 7.37981C11.8725 7.50257 11.8011 7.61471 11.7101 7.70981L6.7101 12.7098C6.61687 12.8031 6.50618 12.877 6.38435 12.9275C6.26253 12.9779 6.13196 13.0039 6.0001 13.0039C5.7338 13.0039 5.47841 12.8981 5.2901 12.7098C5.1018 12.5215 4.99601 12.2661 4.99601 11.9998C4.99601 11.7335 5.1018 11.4781 5.2901 11.2898L8.5901 7.99981L1.0001 7.99981C0.734887 7.99981 0.480533 7.89446 0.292996 7.70692C0.10546 7.51938 0.000103951 7.26503 0.000103951 6.99981C0.000103951 6.7346 0.10546 6.48024 0.292996 6.29271C0.480533 6.10517 0.734887 5.99981 1.0001 5.99981L8.5901 5.99981L5.2901 2.70981C5.19637 2.61685 5.12198 2.50625 5.07121 2.38439C5.02044 2.26253 4.99431 2.13183 4.99431 1.99981C4.99431 1.8678 5.02044 1.7371 5.07121 1.61524C5.12198 1.49338 5.19637 1.38278 5.2901 1.28982C5.38307 1.19609 5.49367 1.12169 5.61553 1.07092C5.73739 1.02015 5.86809 0.994017 6.0001 0.994017C6.13212 0.994017 6.26282 1.02015 6.38468 1.07092C6.50654 1.12169 6.61714 1.19609 6.7101 1.28982Z" fill="#90A0B7")
  include ../common/component/modal-delete
  include ../common/component/modal-block