extends ../_template

block content
  include ../common/sidebar
  .content
    include ../common/header
    .head-content
      .head-content__line
        h1 Редактировать
      .head-content__bottom.flex-element
        ul.nav.tabs-navigation
          li.tabs-navigation__item
            a.tabs-navigation__link.active(href='/university-profile.html') Профиль
          li.tabs-navigation__item
            a.tabs-navigation__link(href='/university-students.html') Студенты
        .button-group
          a(href="#").btn.btn--white Назад
          button.btn.btn--red Заблокировать
          button.btn.btn--gray Удалить

      .card
        form.form.flex-element.form--basis
          include ../common/component/avatar
          .form__content
            .form__inline
              .form__item
                label(for="abbreviation") Аббревиатура
                input(id="abbreviation" name="abbreviation" type="text" placeholder="Введите аббревиатуру")
              .form__item
                label(for="full_name") Полное наименование
                input(id="full_name" type="text" name="full_name" placeholder="Введите наименование факультета")
            .form__inline
              .form__item
                label(for="site") Сайт
                input(id="site" type="text" name="site" placeholder="Введите сайт")
              .form__item
                label(for="city") Город
                input(id="city" name="city" type="text" placeholder="Введите город")
            .form__inline
              .form__item
                label(for="location") Местоположение
                input(id="location" name="location" type="text" placeholder="Введите местоположение")
              .form__item
                label(for="rector") Ректор
                input(id="rector" name="rector" type="text" placeholder="Укажите фио")
            .form__inline
              .form__item
                label(for="reception_phone") Телефон приемной
                input(id="reception_phone" class="phone" name="reception_phone" type="text" placeholder="+7 (___) ___-__-__")
              .form__item.form__item--width
                label(for="description") Описание
                textarea(id="description" name="description" placeholder="Введите описание")
            .form__button
              button.btn.btn--accent Сохранить

