extends ../_template

block content
    include ../common/sidebar
    .content
        include ../common/header
        .head-content
            .head-content__line.head-content__line--mb-none
                h1 Вакансия
            .head-content__bottom
                .button-group.button-group--right
                    a(href="#").btn.btn--white Назад
                    button.btn.btn--red Заблокировать
                    button.btn.btn--gray Удалить

            .card
                form.form.form--create
                    .form__item
                        label(for="category") Профессиональная область:
                        input(id="category" name="category" type="text" placeholder="Введите название")
                    .form__item
                        label(for="name") Название Вакансии
                        input(id="name" type="text" name="name" placeholder="Введите название")
                    .form__item
                        label(for="post") Должность
                        input(id="post" type="text" name="post" placeholder="Введите должность")
                    .form__item
                        label(for="description") Описание
                        textarea(id="description" name="description" placeholder="Введите описание")
                    .form__item
                        label(for="duties") Обязанности
                        textarea(id="duties" name="duties" placeholder="Введите обязанности")
                    .form__item
                        label(for="requirements") Требования
                        textarea(id="requirements" name="requirements" placeholder="Введите требования")
                    .form__item
                        label(for="conditions") Условия
                        textarea(id="conditions" name="conditions" placeholder="Введите условия")
                    .form__item
                      label(for="keywords") Ключевые навыки
                      select(multiple="multiple" id="keywords" class="form-control keywords")
                    fieldset
                        legend Зарплата
                        .form__inline
                            .form__item.form__item--mr
                                label.visually-hidden(for="salary_from") От
                                input(name="salary_from" id="salary_from" type="number" placeholder="от")
                            .form__item.form__item--mr
                                label.visually-hidden(for="salary_up") До
                                input(name="salary_up" id="salary_up" type="number" placeholder="До")
                    .form__item
                        label(for="type_employment") Тип занятости
                        select(name="type_employment" class="form-control select-custom" id="type_employment" multiple="multiple")
                            option Полная занятость
                            option Частичная занятость
                            option Проектная/Временная работа
                            option Волонтерство
                            option Стажировка
                    .form__item
                        label(for="work_time") График работы
                        select(name="work_time" id="work_time" class="form-control select-custom" multiple="multiple")
                            option Полный день
                            option Сменный график
                            option Гибкий график
                            option Удаленная работа
                            option Вахтовый метод
                    fieldset
                        legend Требуемый опыт работы
                        .form__inline
                            .form__item.form__item--mr
                                input(name="work_experience" type="radio" id="no-experience" class="radio-custom" value="Нет опыта")
                                label(for="no-experience" class="radio-label mb-none")
                                    span Нет опыта
                            .form__item.form__item--mr
                                input(name="work_experience" type="radio" id="one-to-three-years" class="radio-custom" value="От 1 до 3 лет")
                                label(for="one-to-three-years" class="radio-label mb-none")
                                    span От 1 до 3 лет
                            .form__item.form__item--mr
                                input(name="work_experience" type="radio" id="three-to-six-years" class="radio-custom" value="От 3 до 6 лет")
                                label(for="three-to-six-years" class="radio-label mb-none")
                                    span От 3 до 6 лет
                            .form__item
                                input(name="work_experience" type="radio" id="more-than-six-years" class="radio-custom" value="Более 6 лет")
                                label(for="more-than-six-years" class="radio-label mb-none")
                                    span Более 6 лет

                    .form__item
                        label(for="city") Город
                        input(name="city" id="city" placeholder="Введите город")
                    .form__item
                        label(for="address") Адрес офиса
                        input(name="address" id="address" placeholder="Введите адрес")
                    .form__button
                        button.btn.btn--accent.btn--large.btn--submit Сохранить

