.btn {
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  padding: 7px 16px;

  &:hover {
    color: #fff;
  }
}

.btn--accent {
  background: linear-gradient(0deg, #2c71f6, #2c71f6), linear-gradient(0deg, #4865ea, #4865ea), #4878fe;
}

.btn--green {
  background: var(--green-gradient);
}

.btn--red {
  background: var(--red);
}

.btn--gray {
  background: var(--gray);
}

.btn--white {
  background: #fff;
  border: 1px solid #99aac3;
  color: #23282e;

  &:hover {
    color: #23282e;
  }
}

.btn--upper {
  text-transform: uppercase;
}

.btn--lg {
  font-size: 18px;
}

.btn--middle {
  font-size: 14px;
}

.btn--min {
  font-size: 12px;
}

.btn--bold {
  font-family: "Roboto-Bold", sans-serif;
}

.delete,
.block {
  background: transparent;
  border: none;
}

.button-group {
  .btn {
    min-width: 160px;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--right {
    text-align: right;
  }

  @media screen and (max-width: 1360px) {
    .btn {
      min-width: 130px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 576px) {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    .btn {
      width: 49%;
      font-size: 14px;
      margin-right: 0;
      margin-bottom: 7px;
    }
  }

  @media screen and (max-width: 480px) {
    .btn {
      width: 100%;
    }
  }
}

.btn--width {
  width: 180px;
}

.btn--large {
  width: 250px;
}
