.card {
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: none;

  &--min {
    padding: 16px 20px;
  }

  &-mb,
  &--mb {
    margin-bottom: 20px;
  }

  &--inline {
    display: inline-block;
  }

  @media screen and (max-width: 1360px) {
    padding: 20px;
  }

  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}
