.add-article {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  .flex-element {
    align-items: center;
  }

  &__head {
    background: #fafafa;
    border-radius: 4px;
    align-items: center;
    padding: 20px;

    .btn {
      padding: 5px 10px;
      margin-left: 24px;
    }
  }

  &__body {
    background: #fff;
    padding: 0 30px;
    color: #000;
  }
}

.article-items {
  &__head {
    .btn {
      margin-left: 20px;

      @media screen and (max-width: 992px) {
        margin-left: 10px;
      }
    }
  }

  .article-item {
    padding: 8px 0;
    border-bottom: 1px solid #d2d8e4;
    width: 100%;
    justify-content: space-between;
    font-size: 15px;

    &__name {
      color: #000;
      max-width: 850px;
      width: 100%;

      @media screen and (max-width: 1480px) {
        max-width: 700px;
      }

      @media screen and (max-width: 1280px) {
        max-width: 600px;
      }
    }
  }

  &__body {
    .article-item {
      &__name {
        padding-left: 24px;

        @media screen and (max-width: 992px) {
          padding-left: 15px;
        }
      }
    }
  }
}
